<div class="a-scale a-scale-layer">
	<div class="m-layer">
		<div class="layert zmov">
			<h3 class="zflg">删除文章</h3>
			<a class="w-close2 zflg" href="#">关闭</a>
		</div>
		<div class="zflg">
			<div>
				<div class="layerm">
					<h4 class="warmt wtag">确定删除这篇文章吗？</h4>
					<div class="warmc">
						<p class="wtag"></p>
					</div>
				</div>
				<div class="layerb">
					<a class="w-sbtn w-sbtn-0 wtag" href="#" hidefocus="true">确 定</a>
					<a class="w-sbtn w-sbtn-3 wtag" href="#" hidefocus="true">取 消</a>
				</div>
			</div>
		</div>
	</div>
</div>